# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all files
*.txt
*.mat
*.MAT
*.pdf
*.PDF
*.pcd

projections.png
img1.png
img2.png
inverse_cylindrical.m
inverse_spherical.m
image2cylindrical_ver0.m

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

