# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all files
*.txt
*.mat
*.MAT
*.pdf
*.PDF
*.pcd

img1.png
img2.png
imwrap_issue.m
theatre.jpg

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

